Apps/JJ.Apps.SetText.AppService.DemoClient/Service References/SetTextAppService/SetTextAppService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51116/SetTextAppService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JJ.Models.Canonical" />
  <xs:complexType name="SetTextViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextWasSavedMessageVisible" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JJ.Models.Canonical" minOccurs="0" name="ValidationMessages" nillable="true" type="q1:ArrayOfValidationMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetTextViewModel" nillable="true" type="tns:SetTextViewModel" />
</xs:schema>