Apps/JJ.Apps.SetText.WinForms.Online.GeneratedServiceClient/Service References/ResourceService/ResourceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.AppService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.AppService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Messages">
    <xs:sequence>
      <xs:element minOccurs="0" name="Saved" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Messages" nillable="true" type="tns:Messages" />
  <xs:complexType name="Labels">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Labels" nillable="true" type="tns:Labels" />
  <xs:complexType name="Titles">
    <xs:sequence>
      <xs:element minOccurs="0" name="SetText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Titles" nillable="true" type="tns:Titles" />
</xs:schema>