Apps/JJ.Apps.SetText.WinForms.Online.GeneratedServiceClient/Service References/ResourceService/ResourceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51116/ResourceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.AppService.Models" />
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.AppService.Models" minOccurs="0" name="GetMessagesResult" nillable="true" type="q1:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.AppService.Models" minOccurs="0" name="GetLabelsResult" nillable="true" type="q2:Labels" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.AppService.Models" minOccurs="0" name="GetTitlesResult" nillable="true" type="q3:Titles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>