Presentation/JJ.Presentation.SetText.WinForms.Online.GeneratedServiceClient/Service References/SetTextAppService/SetTextAppService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6371/SetTextAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JJ.Presentation.SetText.Interface.ViewModels" />
  <xs:element name="Show">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JJ.Presentation.SetText.Interface.ViewModels" minOccurs="0" name="ShowResult" nillable="true" type="q1:SetTextViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JJ.Presentation.SetText.Interface.ViewModels" minOccurs="0" name="viewModel" nillable="true" type="q2:SetTextViewModel" />
        <xs:element minOccurs="0" name="cultureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JJ.Presentation.SetText.Interface.ViewModels" minOccurs="0" name="SaveResult" nillable="true" type="q3:SetTextViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>