Apps/JJ.Apps.SetText.WinForms.Online/Service References/SetTextAppService/SetAppTextService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SetAppTextService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51116/SetTextAppService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51116/SetTextAppService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51116/SetTextAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.ViewModels" />
      <xsd:import schemaLocation="http://localhost:51116/SetTextAppService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JJ.Models.Canonical" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISetTextPresenter_Show_InputMessage">
    <wsdl:part name="parameters" element="tns:Show" />
  </wsdl:message>
  <wsdl:message name="ISetTextPresenter_Show_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowResponse" />
  </wsdl:message>
  <wsdl:message name="ISetTextPresenter_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ISetTextPresenter_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:portType name="ISetTextPresenter">
    <wsdl:operation name="Show">
      <wsdl:input wsaw:Action="http://tempuri.org/ISetTextPresenter/Show" message="tns:ISetTextPresenter_Show_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISetTextPresenter/ShowResponse" message="tns:ISetTextPresenter_Show_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ISetTextPresenter/Save" message="tns:ISetTextPresenter_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISetTextPresenter/SaveResponse" message="tns:ISetTextPresenter_Save_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISetTextPresenter" type="tns:ISetTextPresenter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Show">
      <soap:operation soapAction="http://tempuri.org/ISetTextPresenter/Show" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ISetTextPresenter/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SetAppTextService">
    <wsdl:port name="BasicHttpBinding_ISetTextPresenter" binding="tns:BasicHttpBinding_ISetTextPresenter">
      <soap:address location="http://localhost:51116/SetTextAppService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>