Apps/JJ.Apps.SetText.WinForms.Online.GeneratedServiceClient/Service References/ResourceAppService/ResourceAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResourceAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6371/ResourceAppService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6371/ResourceAppService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6371/ResourceAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JJ.Apps.SetText.AppService.Interface.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResourceAppService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IResourceAppService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceAppService_GetLabels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabels" />
  </wsdl:message>
  <wsdl:message name="IResourceAppService_GetLabels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabelsResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceAppService_GetTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitles" />
  </wsdl:message>
  <wsdl:message name="IResourceAppService_GetTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitlesResponse" />
  </wsdl:message>
  <wsdl:portType name="IResourceAppService">
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceAppService/GetMessages" message="tns:IResourceAppService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceAppService/GetMessagesResponse" message="tns:IResourceAppService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabels">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceAppService/GetLabels" message="tns:IResourceAppService_GetLabels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceAppService/GetLabelsResponse" message="tns:IResourceAppService_GetLabels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceAppService/GetTitles" message="tns:IResourceAppService_GetTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceAppService/GetTitlesResponse" message="tns:IResourceAppService_GetTitles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IResourceAppService" type="tns:IResourceAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/IResourceAppService/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabels">
      <soap:operation soapAction="http://tempuri.org/IResourceAppService/GetLabels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitles">
      <soap:operation soapAction="http://tempuri.org/IResourceAppService/GetTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourceAppService">
    <wsdl:port name="BasicHttpBinding_IResourceAppService" binding="tns:BasicHttpBinding_IResourceAppService">
      <soap:address location="http://localhost:6371/ResourceAppService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>